/* Header */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");

body {
  font-family: "Poppins", sans-serif;
  /* font-family: "Courier New", Courier, monospace; */
}
a {
  text-decoration: none;
}
.superNav div span a {
  color: white;
}
/* .superNav {
  font-size: 13px;
} */

.form-control {
  outline: none !important;
  box-shadow: none !important;
}

@media screen and (max-width: 540px) {
  .centerOnMobile {
    text-align: center;
  }
}
.link-nav .link-nav-item span {
  position: relative;
}
.link-nav .link-nav-item span ::after {
  content: " ";
  position: absolute;
  width: 0px;
  height: 2px;
  background-color: black;
  bottom: 0;
  left: 0;
  transition: width 0.5s ease-in-out;
}
.link-nav .link-nav-item span:hover ::after {
  width: 100%;
}
/*  */

/* Cart product */
:root {
  font-size: 16px;
  --heading-color: hsl(0, 0%, 7%);
  --date-text-color: hsl(0, 0%, 51%);
  --previous-price-text-color: hsl(0, 98%, 44%);
  --current-price-text-color: hsla(0, 0%, 0%, 0.822);
  --pricing-font-weight: 800;
  --title-font-weight: 800;
  --date-font-weight: 550;
  --card-main-color: whitesmoke;
  --card-1-secondary-color: #38284F
}

.container input {
  display: none;
}

.card-div {
  width: 17em;
  flex-direction: column;
  background-color: var(--card-main-color);
  margin: 1.5em;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: transform 0.2s ease-in-out;
}

.img-div {
  width: 100%;
  height: 10em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  z-index: 1;
  border-radius: 0 0 10px 10px;
}

.img-div img {
  transform-origin: bottom;
  transform: translateY(7.5%);
  transition: transform 0.3s ease-in-out
}

.div_card_header {
  padding: 0.25em 0.25em 0.5em;
  font-size: 1.5em;
  color: var(--heart-icon-color);
  border-radius: 10px 10px 0 0;


}

.header-card-product {
  border-radius: 10px 10px 0 0;
  width: 1em;
  height: 1em;
  position: relative;
  z-index: 3;
  cursor: pointer;
}

.image-product-card {
  background-color: var(--card-1-secondary-color);
}

.image-product-card img {
  width: 65%;
  transform: translateY(7.5%);
}

.card-1 .div_card_header {
  background-color: var(--card-1-secondary-color);
}

.text-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0.25em 0.25em;
  padding-top: 4em;
  padding-bottom: 1em;
  box-sizing: border-box;
}

.item-name,
.text-container {
  margin: 0 0;
  text-align: center;
}

.text-container .item-name {
  font-size: 1.5em;
}

.text-container .price {
  font-size: 1.4em;
  color: var(--date-text-color);
}

.card-div:hover .img-div img {
  transform: translateY(7.5%) scale(1.2);
}

.card-div:hover {
  transform: translate(0, -10px);
}






#card-1-like:checked~.heart-fill {
  animation: like-animation 0.25s ease-in-out forwards;
}

#card-1-like:not(:checked)~.heart-fill {
  animation: unlike-animation 0.25s ease-in-out;
}


@keyframes like-animation {
  0% {
    opacity: 1;
    transform: scale(1)
  }

  50% {
    opacity: 1;
    color: var(--liked-heart-icon-color);
    transform: scale(0.5);
  }

  100% {
    opacity: 1;
    color: var(--liked-heart-icon-color);
    transform: scale(1.0);
  }
}

@keyframes unlike-animation {
  0% {
    opacity: 1;
    transform: scale(1)
  }

  50% {
    opacity: 1;
    transform: scale(0.5);
  }

  100% {
    opacity: 1;
    color: var(--heart-icon-color);
    transform: scale(1.0);
  }
}