/* Header */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");

body {
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
}
.superNav div span a {
  color: white;
}
/* .superNav {
  font-size: 13px;
} */

.form-control {
  outline: none !important;
  box-shadow: none !important;
}

@media screen and (max-width: 540px) {
  .centerOnMobile {
    text-align: center;
  }
}
.link-nav .link-nav-item span {
  position: relative;
}
.link-nav .link-nav-item span ::after {
  content: " ";
  position: absolute;
  width: 0px;
  height: 2px;
  background-color: black;
  bottom: 0;
  left: 0;
  transition: width 0.5s ease-in-out;
}
.link-nav .link-nav-item span:hover ::after {
  width: 100%;
}
/*  */

/* Cart product */
/* :root {
  font-size: 16px;
  --heading-color: hsl(0, 0%, 7%);
  --date-text-color: hsl(0, 0%, 51%);
  --previous-price-text-color: hsl(0, 98%, 44%);
  --current-price-text-color: hsla(0, 0%, 0%, 0.822);
  --pricing-font-weight: 800;
  --title-font-weight: 800;
  --date-font-weight: 550;
  --card-main-color: whitesmoke;
  --card-1-secondary-color: #38284f;
}

.container input {
  display: none;
}

.card-div {
  width: 17em;
  flex-direction: column;
  background-color: var(--card-main-color);
  margin: 1.5em;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: transform 0.2s ease-in-out;
}

.img-div {
  width: 100%;
  height: 10em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  z-index: 1;
  border-radius: 0 0 10px 10px;
}

.img-div img {
  transform-origin: bottom;
  transform: translateY(7.5%);
  transition: transform 0.3s ease-in-out;
}

.div_card_header {
  padding: 0.25em 0.25em 0.5em;
  font-size: 1.5em;
  color: var(--heart-icon-color);
  border-radius: 10px 10px 0 0;
}

.header-card-product {
  border-radius: 10px 10px 0 0;
  width: 1em;
  height: 1em;
  position: relative;
  z-index: 3;
  cursor: pointer;
}

.image-product-card {
  background-color: var(--card-1-secondary-color);
}

.image-product-card img {
  width: 65%;
  transform: translateY(7.5%);
}

.card-1 .div_card_header {
  background-color: var(--card-1-secondary-color);
}

.text-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0.25em 0.25em;
  padding-top: 4em;
  padding-bottom: 1em;
  box-sizing: border-box;
}

.item-name,
.text-container {
  margin: 0 0;
  text-align: center;
}

.text-container .item-name {
  font-size: 1.5em;
}

.text-container .price {
  font-size: 1.4em;
  color: var(--date-text-color);
}

.card-div:hover .img-div img {
  transform: translateY(7.5%) scale(1.2);
}

.card-div:hover {
  transform: translate(0, -10px);
} */

/* 
#card-1-like:checked~.heart-fill {
  animation: like-animation 0.25s ease-in-out forwards;
}

#card-1-like:not(:checked)~.heart-fill {
  animation: unlike-animation 0.25s ease-in-out;
}


@keyframes like-animation {
  0% {
    opacity: 1;
    transform: scale(1)
  }

  50% {
    opacity: 1;
    color: var(--liked-heart-icon-color);
    transform: scale(0.5);
  }

  100% {
    opacity: 1;
    color: var(--liked-heart-icon-color);
    transform: scale(1.0);
  }
}

@keyframes unlike-animation {
  0% {
    opacity: 1;
    transform: scale(1)
  }

  50% {
    opacity: 1;
    transform: scale(0.5);
  }

  100% {
    opacity: 1;
    color: var(--heart-icon-color);
    transform: scale(1.0);
  }
} */

/* Gio hang */
.icon-hover-danger:hover {
  border-color: #dc4c64 !important;
  background-color: white !important;
}

.icon-hover-danger:hover i {
  color: #dc4c64 !important;
}
.icon-hover-purle:hover {
  border-color: #38284f !important;
  background-color: white !important;
}

.icon-hover-purle:hover i {
  color: #38284f !important;
}

.zoom_image_product_cart {
  transition: transform 0.2s;
}

.zoom_image_product_cart:hover {
  transform: scale(1.1);
}

/* Index sản phảm */
.product-card {
  width: 260px;
  position: relative;
  box-shadow: 0 2px 7px #dfdfdf;
  background: #fafafa;
}

.badge {
  position: absolute;
  left: 0;
  top: 20px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  background: red;
  color: #fff;
  padding: 3px 10px;
}

.product-tumb {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  padding: 50px;
  background: #f0f0f0;
}

.product-tumb {
  max-width: 100%;
  max-height: 100%;
}

.product-details {
  padding: 20px;
}

.product-catagory {
  display: block;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ccc;
}

.product-details {
  font-weight: 500;
  display: block;
  text-transform: uppercase;
  color: #363636;
  transition: 0.3s;
}

.product-details {
  color: #fbb72c;
}

.product-details {
  font-size: 15px;
  line-height: 22px;
  margin-bottom: 18px;
  color: #999;
}

.product-bottom-details {
  overflow: hidden;
  border-top: 1px solid #eee;
  padding-top: 20px;
}


.product-price {
  font-size: 25px;
  color: #000000;
  font-weight: 600;
}

.product-price small {
  font-size: 80%;
  font-weight: 400;
  text-decoration: line-through;
  display: inline-block;
  margin-right: 5px;
}

.product-links {
  text-align: right;
}